@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scrollbar-width: none; 
    scrollbar-color: var(--header-color) transparent;
    
}

:root {
    --background-dark: #000814;
    --background: #001D3D;
    --background-light: #003566;
    --header-color: #FFC300;
    --header-hover-color: #FFD60A;
    --just-white: #f8f8f8;
    --align-left: 10%;
    --title: 10vh;
    --subtitle: 4vh;
    --text: 2.5vh;
    --align-left: 10%;
}

.dark {
    --background: #18181b;
}

@font-face {
    font-family: jose;
    src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: play;
    src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: mont;
    src: url('/fonts/Montserrat-Regular.ttf');
}

@layer utilities {
    .social-icon {
        @apply filter invert w-[40px];
    }

    .select-cont {
        scrollbar-width: thin; /* "auto" or "thin" */
        scrollbar-color: var(--header-color) transparent; /* thumb color, track color */
      }
      
      /* WebKit (Chrome, Safari, Edge) */
      .select-cont::-webkit-scrollbar {
        height: 22px; /* for horizontal scrollbar */
        width: 22px;  /* for vertical scrollbar */
      }
      
      .select-cont::-webkit-scrollbar-track {
        background-color: red; /* or red, for debugging */
        border-radius: 10px;
      }
      
      .select-cont::-webkit-scrollbar-thumb {
        background-color: var(--header-color);
        border-radius: 10px;
      }
      
      .select-cont::-webkit-scrollbar-thumb:hover {
        background-color: var(--header-hover-color);
      }
      
      *::-webkit-scrollbar-button {
        display: none;
      }
      /* Hide scrollbar buttons */
}